.min-width-36 {
	min-width: 36px;
}
#search-duke {
	height: 1.5em;
	max-height: 24px;
	transition-duration: 0.5s;
    transition-property: transform;
}
#search-duke:hover {
	transform: rotate(225deg);
}